<div onload="doSetup()">
  <div class="response-cont container">
    <div class="res-operator">
      {{!-- <div class="form-edit" title="edit form">
        <img src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png" />
      </div> --}}
      <div class="see-responses" title="see all responses" onclick="viewResponses()">
        <img src="https://img.icons8.com/material-sharp/24/000000/visible.png" />
      </div>
    </div>

    <div class="box form_title">
      <div id="title"></div>
      <div id="desc"></div>
    </div>

    <div class="loader">

    </div>
    <form id="main">

    </form>

  </div>
</div>

<script>
  const params = (new URL(document.location)).searchParams;
  var decrypted = params.get('form_title');
  var form_title = decrypted;

  let mainContainer = document.getElementById("main");
  const title = document.querySelector('#title');
  const desc = document.querySelector('#desc');
  title.innerHTML = form_title;

 //to check required field
  function fn(bool, e) {
    if (bool) {
      additional.childNodes[1].innerHTML += `<span class='star'>*</span>`;
      if (additional.className != "mcqType box") {
        additional.childNodes[3].setAttribute("data-id", "ok");
      }
    }
  }//end
  

  var docRef = db.collection('form').doc(title.innerHTML);
  docRef.get().then((doc) => {
    desc.innerHTML = doc.data().desc;

  }).catch((error) => {
    console.log("Error getting document:", error);
  });

  const main = document.querySelector("#main");
  var roll_arr = []; //to save roll number
  var i = 0; //to save values in roll_arr
  var count = 1; //to count no of ques and their ans

  //extract questions
  docRef.collection("hi").get()
    .then((querySnapshot) => {
      querySnapshot.forEach((doc) => {
        var curr = doc.id;
        var len = curr.length;

        if (curr[len - 1] == 'T') {
          var qs = doc.data().qs;

          additional = document.createElement("div");
          additional.className = 'textType';
          additional.innerHTML += `
                      <p class="hi">  </p>
                      <div class="sample-text">
                            Type your answer here
                          </div>
                      <div class="seperator">
                       
                      <div class="question-control">
                         
                      </div>
                       `

          additional.classList.add("box");
          mainContainer.appendChild(additional);

          mainContainer.childNodes[count].childNodes[1].innerHTML = qs;
          fn(doc.data().req, mainContainer.childNodes[count].childNodes[1]);
          count++;
        }

        if (curr[len - 1] == 'U') {
          var qs = doc.data().qs;
          additional = document.createElement("div");
          additional.className = 'uploadType';
          additional.innerHTML = `
    
                    <p class="hi">Hi</p>
                     <div class="sample-text">
                      Upload file
                    </div>
                    <div class="seperator">

                    </div>
                    <div class="question-control">
     
                    </div>
                    `;

          additional.classList.add("box");
          mainContainer.appendChild(additional);

          mainContainer.childNodes[count].childNodes[1].innerHTML = qs;
          fn(doc.data().req, mainContainer.childNodes[count].childNodes[1]);
          count++;
        }

        if (curr[len - 1] == 'O') {
          var qs = doc.data().qs;
          additional = document.createElement("div");

          additional.className = "mcqType";
          additional.innerHTML = `
                    <p class="hi">Hi</p>
     
                    <div id="possible">
                      <div class="indivisual">

                      </div>
                    </div>
                    <div class="seperator"></div>
                    <div class="question-control">
  
                    </div>`
          additional.classList.add("box");
          mainContainer.appendChild(additional);
          if(doc.data().type == 'single')
            qs += " <span style='color:rgb(84,79,79); font-size:14px'>(single correct type)</span>"
          else qs += " <span style='color:rgb(84,79,79); font-size:14px'>(multiple correct type)</span>"
          mainContainer.childNodes[count].childNodes[1].innerHTML = qs;

          fn(doc.data().req, mainContainer.childNodes[count].childNodes[1]);
          var option = doc.data().op;
          for (var i = 1; i <= option.length; i++) {
            var data = document.createElement('div');
            data.className = "prik";
            var opt = document.createElement('p');
            opt.classList.add('res-opts');
            opt.innerHTML = "  " + i + ") " + option[i - 1];
            data.appendChild(opt);
            mainContainer.childNodes[count].childNodes[3].childNodes[1].appendChild(data);
          }
          count++;
        }
      });
      document.querySelector('.loader').style.display = "none";
    })
    .catch((error) => {
      console.log("Error getting documents: ", error);
    });

//end


  //extract total number of responses
  docRef.collection('ans').get()
    .then((querySnapshot) => {
      querySnapshot.forEach((doc) => {
        roll_arr[i] = doc.id;
        i++;
      });
    });


  function viewResponses() {
    if (roll_arr.length == 0) {
      alert("There are no responses for this form!")
    }
    else {
      window.location.href = "/view_response?form_title=" + form_title;
    }
  }

</script>