*{
    margin: 0px 0px;
    padding: 0px 0px;
}

.navbar{
    background-color:rgb(10, 117, 33);
    text-align: right;
}

.rightnav form button{
    padding: 6px 20px;
    border: 2px solid rgb(228, 20, 20);
    background-color: rgb(226, 15, 15);
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;   
}

.rightnav form button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(243, 8, 8); 
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width:800px;
}

a {
    text-decoration: none;
    color: green;
    background-color:white;
    font-size: 40px;
    display: inline-block;
    margin-left: 20px;
}
.a{
    background-color: rgb(243, 245, 235);
}
.box {
    border-top:solid;
    border-color: green;
    border-width: 10px;
    padding-bottom:30px;
    width:800px;
    background-color:rgb(243, 245, 235)  ;
    border-radius: 10px;
    padding:10px;
}

.hide {
    display: none;
    font-size: 18px;
}

.a:hover+.hide {
    display: block;
    font-family: cursive;
    size: initial;
    background-color:#e6f0e1;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    border-radius:7px;
    background-color: white;
    border: solid white 2vh;
}

.row {
    border-radius: 7px;
    height: 60px;
    background-color:white;
}
#response{
    margin: 10px; 
    padding: 10px; 
    font-size: 18px; 
    float:left; 
    color:black;
}
#response:hover{
    color:green;
}
.subject {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    float:left;
}

.fixedItems{
    float:right;
    padding-right: 20px;
}
.date {
    margin-top: 10px;
    padding: 10px;
    padding-left:20px;
    padding-right:0px;
    align-content: center;      
    font-size: large;      
    border-left: solid green 3px;  
    float:left;
}

.row .delete, .row .download {
    font-size: 30px;
    padding-top: 15px;
    padding-left:10px;
    padding-right:15px;
    cursor: pointer;
}

.loader {
    border: 5px solid #ffffff; /* Light grey */
    border-top: 5px solid #249e06; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
